/*************************************
GENERAL
*************************************/

a{
	text-decoration:none;
}



/*************************************
NAVIGATION
*************************************/

nav li{
	display: inline-block;
}

nav {
	text-align:center;
}