/*************************************
GENERAL
*************************************/

a{
	text-decoration:none;
}

/*************************************
HEADING
*************************************/

header{
 margin: 0 auto;
 padding: 5px 0 0 0; 
 background:#79A092;
 width:100%;
 height:200px;
 text-align:center;
}

h1{
	padding:45px 0 0 0;
	color:#FFFFFF;
	line-height: 1.3;
	text-shadow:0 1px 1px rgba(0,0,0,.8);
}

/*************************************
BODY
*************************************/

body{
	margin:0;
	
}

/*************************************
NAVIGATION
*************************************/
nav {
	text-align:center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul{
	list-style:none;
	margin: 0 10px;	
	padding:0;
}

nav li{
	display: inline-block;
}

nav a {
	padding:15px 30px;  
}


/*************************************
body
*************************************/

#wrapper{
	max-width:1024px;
	margin: 0 auto;
	padding:0;
	
}

/*************************************
FOOTER
*************************************/
footer{
	background: #355381;
	text-align:center;
	padding:2px 0;
}

p{
	color:#FFFFFF;	
}
